{% extends "base.html" %}

{% block content %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>HAWLA</h1>
    <br><br>
    <form class="form-horizontal ajax-post" role="form" action="{% url 'routine' %}">
    <div>Von:</div>
      <select name="from" id="from">
           <script>
                $.getJSON('/roomdata', function(data) {
                  $.each(data, function() {
                   $('#from').append(
                      $("<option></option>").text(this.name).val(this.room));
                  });
                });
            </script>
      </select>
      <br><br>
      <div>Nach:</div>
      <select name="to" id="to">
           <script>
                $.getJSON('/roomdata', function(data) {
                 $.each(data, function() {
                  $('#to').append(
                      $("<option></option>").text(this.name).val(this.room));
                  });
                });
            </script>

      </select>
      <br><br>
      <button type="submit" class="btn btn-primary btn-lg">Speichern</button>

        <div class="api-response"></div>
       </form>
  </div>
{% endblock %}
